<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% @colors.each do |color| %>
        <li>
          <%= link_to potepan_category_path(@taxon.id, option_type: "color", option_value: color, sort: params[:sort]) do %>
            <%= "#{color} (#{@the_number_of_products_in_option[color] ||= 0})" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
