<%# 商品サイズのフィルター %>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% @sizes.each do |size| %>
        <li>
          <%= link_to potepan_category_path(@taxon.id, option_type: "size", option_value: size) do %>
            <%= "#{size} (#{@the_number_of_products_in_option[size] ||= 0})" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
