<%# new_arrival_products %>
<div class="row featuredProducts" id="new_arrival">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">

      <%= render partial: "products_area", collection: @new_arrival_products, as: "product" %>

    </div>
  </div>
</div>
